body {
    background-color: red;
    text-align: center;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 24px;
}

img {
    width: 50%;
}

@media screen and (max-width: 1439px) and (min-width: 768px) {
    body {
        background-color: green;
    }
    
    p {
        font-size: 18px;
    }
    
    img {
        width: 70%;
    }
}

@media screen and (max-width: 767px) and (min-width: 426px) {
    body {
        background-color: blue;
    }
    
    p {
        font-size: 14px;
    }
    
    img {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    body {
        background-color: blue;
    }
    
    p {
        font-size: 14px;
    }
    
    img {
        width: 100%;
    }
}
