.boton-negro, .boton-amarillo {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
    border: 2px solid black; 
}

.boton-negro {
    background-color: black;
    color: white;
}

.boton-amarillo {
    background-color: yellow;
}
